.container-card {
  width: 100%;
  background-color: #ebfffc;
  border-radius: 12px;
  margin: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.weather-image-card {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.weather-image-card img {
  width: 80px; /* Substitua 50px pelo tamanho desejado */
  height: auto; /* Isso mantém a proporção original da imagem */
}

.weather-temp-card {
  display: flex;
  justify-content: center;
  color: #626262;
  font-size: 24px;
  font-weight: 400;
}

.data-container-card {
  color: #626262;
  display: flex;
  justify-content: space-between; /* Adicionei esta linha para espaçar os elementos */
  flex-wrap: wrap; /* Adicionei esta linha para permitir a quebra de linha */
}

.element-card {
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 10px;
}

.data-card {
  font-size: 16px;
  font-weight: 400;
}

.text-card {
  font-size: 12px;
  font-weight: 400;
}
